.banners-fixos
	display: grid
	grid-template-columns: repeat(3, 1fr)
	grid-gap: 20px
.banners-fixos
	display: none
	.banner-fixo
		max-width: 100%
		+box-shadow(0px, 0px, 1px, rgba(0,0,0,0.6))
		a 
			img 
				width: 100%
				height: auto

		&:hover
			outline: 2px solid $cinza
			outline-offset: -15px

@media screen and (max-width: 900px)
	.banners-fixos
		display: grid
		grid-template-columns: repeat(2, 1fr)

@media screen and (max-width: 600px)
	.banners-fixos
		display: grid
		grid-template-columns: 1fr