.categoria-home
	border: 3px dashed $rosaescuro 
	color: $rosaescuro
	text-transform: uppercase
	font-size: 15px
	display: flex	
	justify-content: center
	align-items: center
	padding: 10px
	margin: 15px 0

	.categoria-item-home
		color: $rosaescuro
		margin: 0 15px
		font-family: $raleway
		border: 1px solid transparent
		padding: 5px
		&:first-child
			list-style-type: none
		&:hover
			border: 1px solid $rosaescuro
		a
			text-decoration: none
			color: $rosaescuro