@import '_mixins'

h1,h2,h3,h4,h5,h6 
	font-family: $raleway
	font-weight: lighter

p,span,em
	font-family: $roboto 
	color: $cinza-escuro

.container
	width: 1240px
	max-width: 80vw
	margin: 50px auto

	.titulo-secao
		width: 100%
		text-align: center
		display: flex
		justify-content: center
		flex-direction: column
		align-items: center
		position: relative
		margin: 50px 0
		margin-bottom: 25px
		.titulo-lista-produto
			font-weight: bold
			font-size: 30px
			color: $rosa-escuro
			background: white
			z-index: 9
			padding: 5px 10px
			position: relative
		.barra-titulo
			display: block
			width: 100%
			height: 1px
			border-bottom: 2px solid #6E6E6E
			position: absolute
mark 
	background: $rosa
	color: $cinza
	border: 1px solid $rosa
	+border-radius(4px)
	padding: 5px
	font-weight: bold

input, select, textarea	
	padding: 10px 0
	text-indent: 10px
	border: 1px solid $cinza-claro
	+border-radius(4px)
	font-family: $roboto
	resize: none
	
label
	font-family: $raleway
	margin: 10px 0

fieldset
	padding: 10px
	border: 1px solid $cinza-claro
	+border-radius(4px)

	legend	
		font-family: $raleway
		font-weight: bold
		padding: 0 10px
		color: $cinza-escuro

.woocommerce button.button,
.botao,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
input[type="submit"]
	background: $rosa-escuro
	color: white
	font-size: 16px
	border: 1px solid $rosa-escuro
	+border-radius(4px)
	margin-top: 10px
	height: 100%

	&:hover
		background: darken($rosa-escuro, 15%)
		color: white
		cursor: pointer

.columns 
	margin: 0

@media screen and (min-width: 768px) 
	.columns 
		margin-left: -0.75rem
		margin-right: -0.75rem
		margin-top: -0.75rem
	

