@import url('https://fonts.googleapis.com/css?family=Roboto:300,900')
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900')

  
$rosa: #FFDEE1
$cinza-escuro: #4A4A4A
$cinza: #6E6E6E
$cinza-claro: #aaaaaa
$cinza-muito-claro: #eeeeee
$raleway: 'Raleway', sans-serif
$rosa-escuro : #D4448B
$roboto:  'Roboto', sans-serif
$sucesso: hsl(141, 71%, 48%)
$erro: hsl(348, 100%, 61%)
$info: hsl(204, 86%, 53%)

  
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default)
  -webkit-box-shadow: $x-axis $y-axis $blur $color
  -moz-box-shadow: $x-axis $y-axis $blur $color
  box-shadow: $x-axis $y-axis $blur $color

@mixin border-radius($radius) 
  -webkit-border-radius: $radius
  border-radius: $radius
  background-clip: padding-box  // stops bg color from leaking outside the border: */
