.variations

	.label
		padding-right: 15px

	.value

		.reset_variations
			display: none

	select
		width: 100%
		border: 1px solid $rosa-escuro
		padding: 5px
		@include border-radius(4px)
		font-size: 16px
		text-align: center
		color: $cinza