.price

	.woocommerce-Price-amount.amount
		color: $rosa-escuro
		font-weight: bold
		font-family: $roboto
		font-size: 35px


.preco-produto
	color: $rosa-escuro
	font-weight: bold
	font-family: $roboto
	font-size: 35px

	.woocommerce-Price-currencySymbol
		color: $rosa-escuro
.woocommerce-product-gallery
	opacity: 1!important

	&__wrapper
		a
			img
				width: 450px

	.flex-produto
		img
			width: auto!important

.produto-unico
	display: flex
	.summary.entry-summary
		width: 100%
		padding: 20px
		margin-left: 40px

		.woocommerce-product-details__short-description
			padding: 10px 0
			font-family: $roboto
			font-size: 18px
.woocommerce-variation-add-to-cart
	margin-top: 15px

.botao-single-product,
.woocommerce-variation-add-to-cart
	display: grid
	grid-template-columns: 40px 150px
	grid-gap: 30px
	padding-bottom: 20px
	border-bottom: 1px solid $cinza-claro

	button
		background: $rosa-escuro
		color: white
		font-family: $roboto
		font-weight: bold
		font-size: 18px
		text-transform: uppercase
		border: 1px solid $rosa-escuro
		@include border-radius(4px)
		&:hover
			background: darken($rosa-escuro, 15%)
			border-color: darken($rosa-escuro, 15%)
			cursor: pointer

	.quantity
		width: 100%

		input
			width: 100%
			border: 3px solid $rosa-escuro
			padding: 10px 5px
			@include border-radius(4px)
			font-size: 20px
			font-weight: bold
			text-align: center

			&:focus
				border: 3px solid $rosa-escuro

.woocommerce-tabs
	margin-top: 30px

.woocommerce-tabs.wc-tabs-wrapper
	border: 1px solid $cinza

.tabs.wc-tabs
	display: flex
	list-style: none
	background: $cinza-muito-claro

	li
		border:	1px solid $cinza
		border-bottom: none
		border-top: none
		height: 100%
		padding: 15px 10px
		background: #fff

		a
			text-decoration: none
			color: $cinza
			font-weight: bold
			font-family: $roboto

#tab-description, #tab-reviews, #tab-additional_information
	padding: 10px 30px
	font-family: $roboto
	width: 95%
	margin: 0 auto

#tab-additional_information

	.shop_attributes

		tbody tr th
			padding-right: 10px

.product_meta
	padding: 10px
	font-family: $roboto
	color: lighten($cinza-claro, 20%)

	span

		a
			font-weight: bold
			color: $cinza-claro
			text-decoration: none
.flex-produto
	display: flex

	.woocommerce-product-gallery__image
		margin-right: 5px

@media screen and (max-width: 750px)
	.produto-unico
		display: flex
		flex-direction: column

		.summary.entry-summary
			padding: 0
			margin: 0
			margin-top: 15px
